<%
  title = t('static_pages.contact.title')
  provide(:title, title)
%>

<div class="container container-content container-colour">
  <h1> <%= title %> </h1>
  <p>
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="https://www.railstutorial.org/contact">contact page</a>.
  </p>
</div>
